@import "mixins";
@import "reviews";
@import "share";
@import "features";
@import "about";
@import "header";
@import "pricing";

body {
  min-width: 320px;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

.min-and-max{
  min-width: 320px;
  max-width: 1200px;


}
